/*Block page*/

.page {
  background: var(--background-image) no-repeat top center,
    var(--background-color);
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-text-color);
}

/*Block header*/

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: clamp(10px, 2.666vw, 20px);
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: center;
}

@media (width < 1024px) {
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  font-size: 18px;
  font-weight: 400;
  color: var(--angles-color);
  border: transparent;
  background: none;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--angles-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
  pointer-events: none;
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 21px;
  right: 49px;
}

@media (width < 768px) and (width >=375px) {
  .header__rec {
    top: 11px;
    right: 39px;
  }
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 30%;
  right: -65%;
}

.header__title {
  margin-inline-start: -20px;
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 124px;
  text-shadow: 4px 4px 0px var(--title-shadow-color);
}

@media (width < 1024px) and (width >=375px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--title-decor);
  }
}

@media (width < 1024px) and (width >=768px) {
  .header__title {
    line-height: 99px;
  }
}

@media (width < 768px) and (width >=375px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    margin-inline-start: 0;
  }
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  color: var(--article-title-color);
  font-weight: 700;
  line-height: 23.4px;
  width: 50%;
}

@media (width < 425px) {
  .header__subtitle {
    width: 100%;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--angles-color);
  border-bottom: 1px solid var(--angles-color);
  left: 20px;
  bottom: 20px;
}

@media (width < 768px) and (width >=375px) {
  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--angles-color);
  border-top: 1px solid var(--angles-color);
  right: 20px;
  top: 20px;
}

@media (width < 768px) and (width >=375px) {
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}

.title-decor {
  background: var(--title-decor);
}

/*Block main*/

.main {
  padding: 0 20px;
  margin: 60px 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (width < 768px) and (width >=375px) {
  .main {
    padding: 5px 10px;
    margin: 34px 0;
    gap: 50px;
  }
}

.section {
  line-height: 130%;
}

.section__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--section-title-color);
}

.dark-title {
  color: var(--article-title-color);
}

@media (width < 1024px) and (width >=768px) {
  .section__title {
    width: 35%;
  }
}

@media (width < 768px) and (width >=375px) {
  .section__title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.section__article-list {
  display: flex;
  flex-wrap: wrap;
}

.section__article-list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section__content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__content-section .section__title {
  flex: 0 0 auto;
  width: 33%;
}

@media (width < 1024px) and (width >=768px) {

  .section__content-section .section__title {
    width: 32%;
  }
}

@media (width < 768px) and (width >=375px) {

  .section__content-section .section__title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.section__content-section .section__article-list {
  flex: 0 0 auto;
  width: 66%;
  flex-direction: column;
  gap: 20px;
}

@media (width < 1024px) and (width >=768px) {

  .section__content-section .section__article-list {
    width: 65%;
  }
}

@media (width < 768px) and (width >=375px) {

  .section__content-section .section__article-list {
    width: 100%;
  }
}

.section__what .section__title {
  width: 30%;
}

@media (width < 768px) and (width >=375px) {
  .section__what .section__title {
    width: 100%;
  }
}

@media (width >=1024px) {
  .section__what .section__article-list {
    justify-content: space-between;
  }
}

@media (width < 1024px) and (width >=375px) {
  .section__what .section__article-list {
    gap: 20px;
  }
}

.section__what .section__article-item {
  flex: 0 0 auto;
  width: 32%;
}

@media (width < 1024px) and (width >=375px) {
  .section__what .section__article-item {
    flex: 1 0 auto;
    width: 100%;
  }
}

.section__wall-images {
  display: grid;
}

.section__wall-images .section__title {
  grid-column: 1/-1;
  width: 100%;
  margin: 0;
}

@media (width >=768px) {
  .section__wall-images .section__image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .section__wall-images .section__image__sunset,
  .section__wall-images .section__image__street {
    grid-column: span 2;
  }

  .section__wall-images .section__image__ice-cream,
  .section__wall-images .section__image__tape {
    grid-row: span 2;
  }
}

@media (width < 768px) {
  .section__wall-images .section__image {
    width: 100%;
    height: auto;
  }

  .section__wall-images .section__image-container {
    width: 100px;
  }
}

@media (width >=768px) {
  .section__wall-images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }
}

@media (width < 768px) {
  .section__wall-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/*Block footer*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  height: 100vh;
  min-height: 667px;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow-color);
}

@media (width < 1024px) and (width >=375px) {
  .footer__title {
    text-shadow: 2px 2px 0px var(--title-decor);
  }
}

@media (width < 768px) and (width >=375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
  }
}